<configuration>
  <environments default="dev">
    <environment id="prod">
      <dataSource type="POOLED">
        <property name="driver" value="com.mysql.jdbc.Driver"/>
        <property name="url" value="jdbc:mysql://${HOST}:${PORT}/${DATABASE}"/>
        <property name="username" value="root"/>
        <property name="password" value="${DATABASE_PASSWORD}"/>
      </dataSource>
    </environment>
    <environment id="dev">
      <dataSource type="POOLED">
        <property name="driver" value="com.mysql.jdbc.Driver"/>
        <property name="url" value="jdbc:mysql://localhost:3306/gulimall_admin"/>
        <property name="username" value="root"/>
        <property name="password" value="${DATABASE_PASSWORD}"/>
      </dataSource>
    </environment>
  </environments>
</configuration>